:root {
    --primary-clr-magenta: hsl(300, 43%, 22%);
    --primary-clr-pink:  hsl(333, 80%, 67%);
    
    --neutral-clr-700:  hsl(303, 10%, 53%);
    --neutral-clr-300:  hsl(300, 24%, 96%);
    --neutral-clr-100:  hsl(0, 0%, 100%);
}